FRONTEND_PORT=3000
FASTAPI_PORT=8000
BRIDGE_PORT=8080
POSTGRES_EXTERNAL_PORT=5432
OBJECT_STORAGE_API_PORT=9000
OBJECT_STORAGE_CONSOLE_PORT=9001

POSTGRES_DB=geospatial_scene
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgis
POSTGRES_PORT=5432

OBJECT_STORAGE_ACCESS_KEY=minioadmin
OBJECT_STORAGE_SECRET_KEY=minioadmin
OBJECT_STORAGE_ENDPOINT=http://object-storage:9000
ML_API_BASE_URL_INTERNAL=http://ml-fastapi:8000
A2D2_SUBSET_PATH=/data/raw/a2d2-subset
A2D2_PREVIEW_ARCHIVE_PATH=/data/raw/a2d2-preview.tar
YOLO_DETECTION_MODEL_PATH=/data/raw/models/yolo11n.pt

VITE_FASTAPI_BASE_URL=http://localhost:8000
VITE_BRIDGE_BASE_URL=http://localhost:8080
VITE_OBJECT_STORAGE_CONSOLE_URL=http://localhost:9001
